[submodule "ext/pprzlink"]
	path = ext/pprzlink
	url = https://github.com/enacuavlab/pprzlink.git
[submodule "ext/PROJ"]
	path = ext/PROJ
	url = https://github.com/OSGeo/PROJ.git
[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
