[Desktop Entry]
Name=PprzGCS
Comment=GCS for PaparazziUAV
Exec=/usr/local/bin/pprzgcs
Terminal=false
Type=Application
Icon=/usr/local/share/PprzGCS/pictures/icon.svg
StartupNotify=true
Categories=Robotics;Science;Qt;

