[Desktop Entry]
Name=PprzGCS
Comment=GCS for PaparazziUAV
Exec=pprzgcs
Terminal=false
Type=Application
Icon=pprzgcs
StartupNotify=true
Categories=Robotics;Science;Qt;

