
/* Buttons on the map */
LockButton {
    qproperty-color_idle: #b0252525;
    qproperty-color_hover: #b0404040;
    qproperty-color_pressed: #b0000000;
    qproperty-size: 80;
}

WindIndicator {
    qproperty-arrow_color: #ff0000;
    qproperty-pen_color: #000000;
    qproperty-background_color: #6046d0ff;
    qproperty-size: 100;
}

MiniStrip {
    qproperty-size: 30;
}

MapWidget {
    qproperty-color_background: #404040;
    qproperty-ac_arrow_size: 50;
}

