name: AppImage

on:
  push:
      tags:
      - '**'

jobs:
  build-appimage:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: ./pprzgcs
      
      - name: setEnv
        run: |
          export MAKEFLAGS=-j$(nproc)
          PPRZGCS_VERSION=$(echo "${{ github.ref }}" | sed 's/refs.tags.\(.*\)/\1/g' | sed 's/\//_/g')
          PPRZGCS_VERSION="${PPRZGCS_VERSION:-$(git describe --tags)}"
          echo "VERSION: $PPRZGCS_VERSION"
          echo "PPRZGCS_VERSION=$PPRZGCS_VERSION" >> $GITHUB_ENV
          echo "VERSION: ${{ env.PPRZGCS_VERSION }}"
        
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libproj-dev libsqlite3-dev libzip-dev qt6-base-dev libqt6svg6-dev mesa-common-dev libglu1-mesa-dev cmake extra-cmake-modules
      

      - name: build
        run: |
          ./pprzgcs/make_appimage.sh $(pwd)/build_appimage $(pwd)/pprzgcs
      - uses: actions/upload-artifact@v4
        with:
          name: AppImage_${{ env.PPRZGCS_VERSION }}
          path: 'build_appimage/PprzGCS*.AppImage*'

      - name: rename AppImage
        run: |
          find . -iname "*appimage*"
          mv ./build_appimage/PprzGCS-x86_64.AppImage PprzGCS_${{ env.PPRZGCS_VERSION }}-x86_64.AppImage


      - name: make release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            'PprzGCS_${{ env.PPRZGCS_VERSION }}-x86_64.AppImage'


